<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
    <link rel="shortcut icon" href="/favicon.png" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ticket4U | Home Page</title>
</head>

<body>
    <section class="main-content">
        <nav>
            <h4>Ticket4U</h4>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href='/eventi'>Eventi</a></li>
                {{#if isBiglietteria}}
                <li><a href='/sigillo'>Sigilla Biglietti</a></li>
                {{/if}}
                {{#if isManager}}
                <li><a href='/validazione'>Strappa Biglietti</a></li>
                {{/if}}
                {{#if logged}}
                <li><a href="/profilo">Profilo</a></li>
                <li><a href="/logout" id="LogBtn" class="btn btn-primary">Logout</a></li>
                {{else}}
                <li><a href="/login">Accedi</a></li>
                <li><a href="/register">Registrati</a></li>
                {{/if}}
            </ul>
        </nav>
        <div style="overflow: auto;">
            <div style="text-align: center;">
                <h1>Termini e condizioni d'uso</h1>
                <p style="width: 58%; margin-left:21%">
                    Condizioni Generali di Contratto - (Versione Settembre 2021)

                    1. Oggetto

                    Le presenti Condizioni Generali di Contratto (CGC) disciplinano la compravendita a distanza e, per
                    quanto compatibili e non altrimenti derogate, la compravendita non a distanza, dei biglietti per
                    eventi nazionali e internazionali di spettacolo e/o di intrattenimento culturale e sportivo,
                    effettuata da Ticket4U S.p.A. in nome e per conto dell’organizzatore dell’evento nonché il
                    contratto di fornitura dei servizi, necessari e accessori alla compravendita di tali biglietti,
                    prestati da Ticket4U S.p.A.

                    2. Definizioni

                    Alle presenti CGC si applicano le seguenti definizioni, restando inteso che le definizioni al
                    plurale si applicheranno al relativo termine al singolare e viceversa:

                    Applicazione Ticket4U o APP: indica le applicazioni per dispositivi mobili riconducibili a
                    Ticket4U che consentono l’acquisto dei Titoli di Ingresso.

                    Codice del Consumo: indica il D. Lgs. 6 settembre 2005, n. 206.

                    Consumatore: indica il Cliente persona fisica che agisce per scopi estranei all’attività
                    imprenditoriale, commerciale, artigianale o professionale eventualmente svolta.

                    Contratto di Servizi Ticket4U: indica il contratto che si conclude tra Ticket4U e il Cliente e che
                    ha come oggetto la prestazione dei Servizi Ticket4U, disciplinato dalle presenti CGC e dalle
                    informazioni fornite sul Sito, prima della conclusione del contratto, anche ai sensi e per gli
                    effetti di cui agli artt. 49 e ss. del Codice del Consumo.

                    Contratto di Vendita: indica il contratto che si conclude, per effetto dei Servizi Ticket4U, tra il
                    Cliente e l’Organizzatore e che ha come oggetto la compravendita del Titolo di Ingresso,
                    disciplinato dalle presenti CGC e dalle informazioni fornite sul Sito, prima della conclusione del
                    contratto, anche, ai sensi e per gli effetti di cui agli artt. 49 e ss. del Codice del Consumo.

                    Cliente: indica il soggetto che, per effetto dei Servizi Ticket4U, acquista il Titolo di Ingresso
                    dall’Organizzatore, a distanza – tramite il Sito, tramite l’App o mediante vendita telefonica,
                    ovvero non a distanza, presso i Punti Vendita Ticket4U.

                    Contratto: indica il Contratto di Servizi Ticket4U e il Contratto di Vendita.

                    Evento: indica la manifestazione, lo spettacolo o la rappresentazione a cui il Portatore del Titolo
                    di Ingresso ha il diritto di accedere.

                    Festival: indica l’Evento in cui è prevista l’esibizione di più artisti nel medesimo contesto.

                    Luogo dell’Evento: indica l'insieme dei fabbricati e dei terreni che costituiscono i luoghi di
                    svolgimento di uno specifico Evento.

                    Organizzatore: indica il soggetto organizzatore dell’Evento, in nome e per conto del quale Ticket4U
                    agisce, i cui estremi identificativi sono riportati, nella sezione “Informazioni sull’organizzatore”
                    della pagina Evento del Sito nonché nelle pagine del Carrello e del Riepilogo dell’Ordine come
                    definite nell’art. 9.1 delle CGC.

                    Portatore del Titolo di Ingresso: indica il soggetto che detiene legittimamente e in conformità alle
                    presenti Condizioni Generali di Contratto un Titolo di Ingresso acquistato dal Cliente.

                    Punti Vendita Ticket4U: indica la rete di vendita affiliata a Ticket4U.

                    Sito: indica il sito Ticket4U.it, di proprietà di e gestito da Ticket4U.

                    Ticket4U: indica Ticket4U S.p.A., una società per azioni leader in Italia nell’erogazione di
                    servizi di biglietteria, marketing, informazione e commercio elettronico per spettacoli, sport e
                    cultura, con sede legale in Via Fabio Filzi 29 - 20124 Milano (Italia); tel. +39-02-392261; fax
                    +39-02-3922670, che nell’ambito del Contratto di Vendita agisce in nome e per conto
                    dell’Organizzatore e nell’ambito del Contratto di Servizi, agisce in nome e per conto proprio.

                    Titolo di Ingresso: indica il documento, anche in formato digitale, emesso da Ticket4U che
                    legittima il Portatore del Titolo di Ingresso all’accesso al Luogo dell’Evento.

                    Titolo di Ingresso Digitale: indica i Titoli di Ingresso cartacei (e.g. fanticket, standard ticket)
                    che riportano la dicitura “titolo digitale”, nonché tutti i Titoli di Ingresso consegnati nella
                    forma dell’E-ticket o dello Stampa@casa.

                    Titolo di Ingresso Non Digitale: indica i Titoli di Ingresso cartacei che non riportano la dicitura
                    “titolo digitale”.

                    Servizi Ticket4U: indica i servizi forniti da Ticket4U in relazione al Contratto di Vendita dei
                    Titoli di Ingresso, aventi a oggetto la prenotazione del Titolo di Ingresso, la consegna ovvero le
                    altre forme di messa a disposizione del Cliente del Titolo di Ingresso nonché gli ulteriori servizi
                    accessori afferenti la vendita del Titolo di Ingresso, ove richiesti dal Cliente, ma esclusa, in
                    ogni caso, la fornitura della prestazione corrispondente all’Evento, che è di esclusiva competenza e
                    responsabilità dell’Organizzatore.

                    3. Ambito di applicazione

                    3.1 L'offerta e la vendita sul Sito dei Titoli di Ingresso e dei Servizi Ticket4U costituiscono un
                    contratto a distanza disciplinato dal Capo I, Titolo III (artt. 45 e ss.) del Codice del Consumo e
                    dal Decreto Legislativo 9 aprile 2003, n. 70, contenente la disciplina del commercio elettronico.

                    3.2 Le presenti CGC possono essere modificate in ogni momento. Eventuali modifiche saranno in vigore
                    dal momento della loro pubblicazione sul Sito nella sezione “Termini e condizioni d’acquisto”,
                    presente nel footer di ogni pagina del Sito. Gli utenti sono pertanto invitati ad accedere
                    regolarmente al Sito e a consultare, prima di effettuare qualsiasi acquisto, la versione più
                    aggiornata delle CGC.

                    3.3 Le CGC applicabili sono quelle in vigore alla data di trasmissione dell'ordine di acquisto di un
                    Titolo di Ingresso. Prima di procedere alla conclusione del Contratto l'utente è tenuto a leggere
                    attentamente tutte le informazioni che Ticket4U gli fornisce sul Sito, sia prima che durante la
                    procedura di acquisto, e ad esaminare e approvare le presenti CGC, mediante selezione dell’apposita
                    casella messa a disposizione dell’utente durante la procedura di acquisto e prima della conclusione
                    del Contratto.

                    3.4 Le presenti CGC non disciplinano la vendita di prodotti e/o servizi da parte di soggetti diversi
                    da Ticket4U che siano presenti sul Sito tramite link, banner o altri collegamenti ipertestuali.
                    Prima di effettuare transazioni commerciali con tali soggetti è necessario verificare le loro
                    condizioni di vendita. Ticket4U non è responsabile per la fornitura di servizi e/o per la vendita
                    di prodotti da parte di tali soggetti. Sui siti web consultabili tramite tali collegamenti,
                    Ticket4U non effettua alcun controllo e/o monitoraggio. Ticket4U non è pertanto responsabile per i
                    contenuti di tali siti né per eventuali errori e/o omissioni e/o violazioni di legge da parte degli
                    stessi.

                    4. Acquisti sul Sito

                    4.1 L’acquisto dei Titoli di Ingresso sul Sito può avvenire solo previa registrazione al Sito con le
                    modalità di cui all’art. 5 che segue ed è consentito sia a utenti che rivestano la qualità di
                    Consumatori sia a utenti che non rivestano tale qualità. Alle persone fisiche l'acquisto è
                    consentito solo a condizione che esse abbiano compiuto gli anni 18.

                    4.2 Ticket4U si riserva il diritto di rifiutare o cancellare ordini che provengano (i) da un utente
                    con cui essa abbia in corso un contenzioso legale; (ii) da un utente che abbia in precedenza violato
                    le presenti CGC e/o le condizioni e/o i termini del Contratto; (iii) da un utente che sia stato
                    coinvolto in frodi di qualsiasi tipo e, in particolare, in frodi relative a pagamenti con carta di
                    credito; (iv) da utenti che abbiano rilasciato dati identificativi falsi, inventati, di fantasia,
                    incompleti o comunque inesatti e/o in qualsiasi modo non corrispondenti al vero o riferiti a terze
                    persone ovvero che non abbiano inviato tempestivamente a Ticket4U i documenti dalla stessa
                    richiesti nell'ambito della procedura di cui agli artt. 11.1.2 e 11.1.3 che seguono o che le abbiano
                    inviato documenti non validi; (v) da un utente che abbia violato il divieto di cui all’art. 5.2 che
                    segue.

                    5. Registrazione al Sito

                    5.1 La registrazione al Sito è gratuita. Per registrarsi al Sito e creare il relativo account
                    l’utente deve compilare l’apposito modulo, inserendo i propri dati personali nello stesso richiesti,
                    oltre a un indirizzo e-mail e a una password, e cliccare sul tasto ''REGISTRATI ORA''. È
                    assolutamente e severamente vietato all’utente l’inserimento, ai fini della registrazione al Sito,
                    di dati personali di terze persone, di dati falsi, inventati, di fantasia e/o, in qualsiasi modo,
                    non corrispondenti al vero.

                    5.2 Ciascun utente può usufruire di una sola registrazione al Sito. È’ pertanto assolutamente e
                    severamente vietato all’utente creare sul Sito più account riferibili alla stessa persona, fisica
                    e/o giuridica, e/o a società e/o enti di qualsiasi tipo, anche mediante l’utilizzo di dati
                    corrispondenti al vero. Nel caso di violazione di tale divieto, fermo quanto previsto all’art. 4.2
                    che precede, Ticket4U si riserva la facoltà di chiudere tutti gli account riferibili alla stessa
                    persona, fisica e/o giuridica, e/o alla stessa società e/o allo stesso ente. L’utente si impegna
                    inoltre a tenere Ticket4U indenne e manlevata da qualsiasi danno, obbligo risarcitorio e/o sanzione
                    derivante da e/o in qualsiasi modo collegata alla violazione da parte dell’utente del divieto di cui
                    al presente articolo 5.2.

                    5.3 La registrazione al Sito consente all’utente di effettuare, tramite l’account riservato e
                    personale, denominato “My Ticket4U”, tra l’altro, le seguenti attività:

                    - verificare lo stato degli ordini più recenti e visualizzare l’archivio di tutti gli ordini
                    effettuati;

                    - gestire i propri dati personali e modificarli in ogni momento;

                    - modificare la propria password;

                    - gestire l’iscrizione al servizio di “Newsletter” e/o di “Ticket alert”;

                    - usufruire dei servizi dedicati che possono essere di volta in volta attivati da Ticket4U.

                    5.4Le credenziali di registrazione (indirizzo e-mail e password) permettono all’utente di effettuare
                    acquisti sul Sito e di svolgere, tra le altre, le attività di cui all’art. 5.3 che precede. Esse
                    devono, pertanto, essere conservate con estrema cura e attenzione. Esse, inoltre, possono essere
                    utilizzare solo dall’utente e non possono essere cedute a terzi. L’utente si impegna a mantenerle
                    segrete e ad assicurarsi che nessun terzo vi abbia accesso. Egli si impegna inoltre a informare
                    immediatamente Ticket4U, contattandola ai recapiti di cui all’art. 19 che segue, nel caso in cui
                    sospetti o venga a conoscenza di un uso indebito o di una indebita divulgazione delle stesse.

                    5.5 Durante la registrazione al Sito l’utente può scegliere, selezionando apposita casella, di
                    validare il proprio numero di telefono mediante il codice di validazione One Time Password (OTP)
                    trasmessogli tramite SMS. Sul punto si rappresenta che la validazione del numero di telefono è
                    prevista dalla Legge n. 145 del 20 dicembre 2018, modificante l’art. 1, comma 545 ss. della Legge
                    232/206 (Legge di Bilancio 2017), la quale richiede che l’utente che acquista titoli di ingresso
                    tramite canali online su siti ufficiali di biglietteria sia identificato tramite convalida OTP.
                    Laddove l’utente scelga di non effettuare la validazione del numero di telefono durante la
                    registrazione al Sito, dovrà eseguirla durante il processamento del primo ordine di acquisto.

                    5.6 L’utente garantisce che i dati personali forniti a Ticket4U, durante la procedura di
                    registrazione al Sito o, in qualsiasi altro momento e/o occasione della sua relazione con Ticket4U,
                    sono completi, veritieri e riferiti all’utente stesso e si impegna a tenere Ticket4U indenne e
                    manlevata da qualsiasi danno, obbligo risarcitorio e/o sanzione derivante da e/o in qualsiasi modo
                    collegata alla violazione da parte dell’utente della garanzia di cui al presente articolo e/o alla
                    violazione delle regole sulla registrazione al Sito e/o sulla conservazione delle credenziali di
                    registrazione.

                    6. Informazioni dirette alla conclusione del contratto

                    6.1 In conformità al Decreto Legislativo 9 aprile 2003, n. 70 recante disposizioni in materia di
                    commercio elettronico, Ticket4U informa l’utente che:

                    1. per concludere il contratto di acquisto di un Titolo di Ingresso sul Sito, l’utente dovrà
                    compilare un modulo d’ordine in formato elettronico e trasmetterlo a Ticket4U, in via telematica,
                    seguendo le istruzioni che compariranno di volta in volta sul Sito;

                    2. se previsto, l’invio del modulo d’ordine dovrà avvenire entro il tempo massimo indicato sul Sito;

                    3. il contratto è concluso quando il modulo d’ordine perviene al server di Ticket4U;

                    4. prima di procedere alla trasmissione del modulo d’ordine, l’utente potrà individuare e correggere
                    eventuali errori di inserimento dei dati seguendo le istruzioni presenti sul Sito nelle diverse fasi
                    dell’acquisto;

                    5. una volta registrato il modulo d’ordine, Ticket4U invierà al Cliente, all’indirizzo di posta
                    elettronica indicato, la conferma dell’ordine contenente: un riepilogo delle condizioni generali e
                    particolari applicabili al contratto, le informazioni essenziali relative al Titolo di Ingresso
                    acquistato, l’indicazione dettagliata del prezzo, del mezzo di pagamento utilizzato, delle spese di
                    consegna e degli eventuali costi aggiuntivi, del termine di consegna nonché le informazioni relative
                    ai contatti del Servizio Clienti cui l’utente può rivolgersi per richiedere assistenza e/o
                    presentare reclami. L’e-mail di conferma d’ordine, che contiene un link alle CGC, costituisce la
                    conferma del contratto concluso su un mezzo durevole ai sensi dell’art. 51, comma 7, Codice del
                    Consumo; il Cliente prende atto e riconosce che, inviata tale e-mail, Ticket4U ha assolto agli
                    obblighi di documentazione sulla stessa incombenti e che, pertanto, il Cliente è vincolato dal
                    Contratto ed è, in particolare, tenuto al pagamento dell’Importo Totale, a prescindere dalla
                    ricezione della e-mail di conferma d’ordine, che dipende da soggetti terzi e/o fattori che sono al
                    di fuori della sfera di controllo di Ticket4U (es. provider di posta elettronica di cui si serve
                    l’utente);

                    6. il modulo d'ordine sarà archiviato nella banca dati di Ticket4U per il tempo necessario alla
                    esecuzione dello stesso e, comunque, nei termini di legge. L’utente potrà accedere al modulo
                    d'ordine e/o ai dati allo stesso relativi tramite il proprio account personale denominato “My
                    Ticket4U”.

                    6.2 In conformità alla Legge n. 145 del 20 dicembre 2018, modificante l’art. 1, comma 545 ss. della
                    Legge 232/206 (Legge di Bilancio 2017), Ticket4U informa l’utente che per concludere il contratto
                    di acquisto egli dovrà verificare il proprio numero di telefono mediante il codice di validazione
                    One Time Password (OTP), trasmessogli tramite SMS. Tale verifica può essere eseguita in fase di
                    registrazione, come indicato sopra al punto 5.5, ovvero durante il processamento del primo ordine di
                    acquisto.

                    6.3 Le lingue a disposizione degli utenti per la conclusione del contratto sono l’italiano e
                    l’inglese. Il Servizio Clienti è in grado di comunicare con gli utenti nelle medesime lingue.

                    7. Disponibilità dei Titoli di Ingresso

                    7.1 In merito ai Titoli di Ingresso acquistabili tramite il Sito, Ticket4U segnala e l’utente
                    prende atto e riconosce che, in relazione a determinati tipo di Evento, quali, per esempio, gli
                    Eventi musicali:

                    a) il pacchetto dei Titoli di Ingresso acquistabili tramite il Sito (c.d. allotment) ) è interamente
                    determinato dall’Organizzatore che stabilisce il numero, il prezzo e la tipologia dei Titoli di
                    Ingresso che devono essere messi in vendita sul Sito, stabilendo, altresì, se sia illimitato il
                    numero di biglietti acquistabile dagli utenti sul Sito tramite il relativo account o se vi sia un
                    numero massimo di biglietti acquistabile per account e, in tal caso, indicando tale numero;

                    b) l’allotment può anche subire delle ricariche in considerazione della ulteriore disponibilità dei
                    Titoli di Ingresso che l’Organizzatore provvede a comunicare a Ticket4U;

                    c) l’Organizzatore, a sua discrezione, può inoltre chiedere a Ticket4U di offrire in vendita un
                    determinato numero di Titoli di Ingresso (della tipologia e al prezzo indicati dall’Organizzatore)
                    ad alcuni cluster di utenti predeterminati (es: iscritti al fan club o al sito ufficiale
                    dell’artista; possessori di una specifica carta di credito) in una data anticipata (es: un giorno
                    prima) o anche contemporaneamente rispetto alla data di apertura delle vendite a tutti coloro che
                    non appartengono a tale categoria; la circostanza può essere pubblicizzata dall’Organizzatore;

                    d) non sono acquistabili i Titoli di Ingresso in corrispondenza della cui categoria, nella pagina a
                    cui l’utente accede una volta scelta la data dell’Evento, compare la dicitura “Non disponibile”;

                    e) i Titoli di Ingresso in corrispondenza della cui categoria, nella pagina cui l’utente accede una
                    volta scelta la data dell’Evento, non compare la dicitura “Non disponibile” possono essere inseriti
                    nel carrello, tramite pressione del bottone “Biglietti”, ma acquistati solo nel caso in cui si
                    verifichi la condizione di cui alla lettera i) che segue;

                    f) una pluralità di utenti può tentare di effettuare l’acquisto della stessa categoria di Titoli di
                    Ingresso in relazione allo stesso Evento (“Medesimo Titolo di Ingresso”) contemporaneamente;

                    g) la pressione del bottone “Biglietti” genera una richiesta al server di Ticket4U (“Server”);

                    h) tutte le richieste al Server generate dalla pressione del bottone “Biglietti” e relative al
                    Medesimo Titolo di Ingresso sono processate in ordine cronologico, in base al momento di arrivo
                    della richiesta al Server;

                    i) l’acquisto della categoria di Titoli di Ingresso selezionata dall’utente, mediante pressione del
                    bottone “Biglietti”, potrà, quindi, avvenire solo se, nel momento in cui la richiesta generata dalla
                    pressione di tale bottone perviene al Server, vi sia ancora, disponibilità della categoria di Titoli
                    di Ingresso richiesta, tenuto conto delle azioni compiute dagli altri utenti la cui richiesta
                    relativa al Medesimo Titolo di Ingresso è arrivata al Server in un momento precedente a quella
                    dell’utente;

                    j) il fatto che, nell’ambito dello stesso allotment, una categoria di Titoli di Ingresso prima
                    visualizzata dall’utente come “Non disponibile” sia successivamente visualizzata dall’utente come
                    mettibile nel carrello, mediante pressione del relativo bottone, dipende dalle azioni degli utenti
                    che hanno messo il Medesimo Titolo di Ingresso nel carrello e non hanno finalizzato l’acquisto (es:
                    per abbandono volontario del carrello o scadenza del tempo massimo per finalizzare l’acquisto,
                    durante il quale il Titolo di Ingresso è riservato all’utente che lo ha inserito nel carrello, o
                    transazione non andata a buon fine); in questo caso, infatti, il sistema rimette in vendita il
                    Titolo di Ingresso per il quale il procedimento di acquisto non è stato completato, secondo le
                    regole sopra illustrate.

                    8. Informazioni sui Titoli di Ingresso

                    8.1 Le categorie di Titoli di Ingresso relative a ciascun Evento e/o a ciascuna data dell’Evento
                    sono descritte nella pagina dedicata all’ Evento. Ove applicabile, la selezione del posto,
                    nell’ambito della categoria desiderata, può avvenire o mediante la funzione “Acquista tramite
                    “Miglior Posto” o tramite la funzione “Acquista tramite “Scelta in Pianta”. Nel primo caso, l’utente
                    sceglie la categoria e il numero di posti desiderati e il Server provvede ad assegnare all’utente i
                    posti che, al momento della richiesta, e nell’ambito dell’allotment a Ticket4U riservato, risultano
                    come migliori tra quelli disponibili nell’ambito della categoria selezionata. Nel secondo caso,
                    l’utente visualizza la mappa del Luogo dell’Evento e sceglie egli stesso, direttamente, tra i posti
                    indicati come disponibili sulla mappa, quelli che intende selezionare. Lo specifico Titolo di
                    Ingresso o gli specifici Titoli di Ingresso che l’utente inserirà nel carrello ed eventualmente
                    acquisterà, tramite pressione dei relativi bottoni, saranno quindi quelli risultanti dai meccanismi
                    sopra illustrati di assegnazione o selezione. Tutte le informazioni sugli specifici Titoli di
                    Ingresso assegnati e/o selezionati (es: settore; blocco; fila; numero del posto) sono fornite
                    all’utente subito dopo l’assegnazione e/o selezione, nel corso di tutto il procedimento di acquisto
                    e, in particolare, nel riepilogo dell’ordine nonché in caso di conclusione del Contratto, nella
                    conferma d’ordine. L’utente, in ogni momento, prima della conclusione del Contratto, può, in ogni
                    caso, modificare i posti che gli sono stati assegnati o che ha selezionato.

                    8.2 Ticket4U, non costituendo rete esclusiva di distribuzione né il soggetto gestore delle
                    decisioni di vendita relative ad un determinato Evento, non è responsabile della tipologia dei posti
                    messi in vendita dall’Organizzatore e non può quindi garantire che i Titoli di Ingresso acquistabili
                    attraverso il Sito rappresentino, per ciascuna tipologia, i migliori disponibili in assoluto al
                    momento dell’acquisto da parte del Cliente o che posti migliori non siano messi in vendita
                    dall’Organizzatore in momenti successivi.

                    9. Prezzo dei Titoli di Ingresso, Commissioni di Servizio, Oneri Aggiuntivi, Importo Totale

                    9.1 Il Prezzo dei Titoli di Ingresso, fissato dall’Organizzatore e inclusivo degli eventuali diritti
                    di prevendita fissati e applicati dall’Organizzatore stesso (“Prevendita”), è quello indicato sul
                    Sito in relazione a ciascuna categoria di Titoli di Ingresso nella pagina di ciascun Evento(“Prezzo
                    dei Titoli di Ingresso” o “Prezzo”). Il Prezzo è anche riportato sul Titolo di Ingresso. L’utente
                    può conoscere la composizione del Prezzo, cliccando nell’apposito link presente nella nella pagina a
                    cui l’utente accede dopo aver scelto la data dell’Evento. La separata indicazione del Prezzo e della
                    Prevendita è anche presente nella pagina che l’utente visualizza subito dopo la pressione del
                    bottone “Biglietti” (“Carrello”) e nella e-mail di conferma d’ordine. Il Prezzo dei Titoli di
                    Ingresso non include le Commissioni di Servizio e gli eventuali Oneri Aggiuntivi, meglio definiti
                    agli artt. 9.3 e 9.4 che seguono, che sono, tuttavia, specificamente indicati nel corso del
                    procedimento di acquisto e, segnatamente, nel riepilogo dell’ordine che l’utente visualizza prima di
                    procede alla conclusione del Contratto (“Riepilogo dell’Ordine”), unitamente all’importo totale che
                    l’utente è tenuto a pagare in relazione a uno specifico ordine e che è costituito dal Prezzo dei
                    Titoli di Ingresso più le Commissioni di Servizio più gli eventuali Oneri Aggiuntivi (“Importo
                    Totale”).

                    9.2 Il Prezzo dei Titoli di Ingresso, fissato dall’Organizzatore e indicato sul Sito in relazione a
                    ciascuna categoria di Titoli di Ingresso nella pagina dedicata all’Evento, è l’ultimo prezzo
                    comunicato a Ticket4U dall’Organizzatore. L’Organizzatore si riserva il diritto di modificare il
                    Prezzo dei Titoli di Ingresso in ogni momento, fermo restando che nel caso di acquisto tramite il
                    Sito il prezzo che sarà addebitato all’utente sarà quello indicato sul Sito nella pagina di ciascun
                    Evento e nel Riepilogo dell’Ordine e che non si terrà conto di eventuali variazioni (né in aumento
                    né in diminuzione) successive alla trasmissione dell’ordine. In particolare, l’eventuale minor
                    prezzo che successivamente all’acquisto da parte del Cliente venisse applicato dall’Organizzatore a
                    Titoli di Ingresso della medesima tipologia ovvero con riguardo a Eventi da tenersi in una
                    particolare data, non darà al Cliente diritto al rimborso della differenza.

                    9.3 Ticket4U applica, su ogni transazione di vendita e quale remunerazione dei Servizi Ticket4U,
                    delle commissioni di servizio in funzione degli accordi con gli Organizzatori e, comunque, a propria
                    discrezione (“Commissioni di Servizio”). Le Commissioni di Servizio dovute in relazione a ciascun
                    Titolo di Ingresso e/o a ciascun ordine sono specificamente indicate durante il procedimento di
                    acquisto e, segnatamente, nel Carrello e nel Riepilogo dell’Ordine, unitamente all’Importo Totale.
                    Nel caso di conclusione del Contratto, esse sono, inoltre, indicate nella e-mail di conferma
                    d’ordine.

                    9.4 Al Prezzo dei Titoli di Ingresso e alle Commissioni di Servizio possono aggiungersi, a seconda
                    delle scelte effettuate dall’utente: (i) le spese di consegna a domicilio dei Titoli di Ingresso e/o
                    di stampa in casa degli stessi; e/o (ii) le spese per la confezione regalo; e/o (iii) l’eventuale
                    premio della copertura assicurativa (“Oneri Aggiuntivi”). L’importo di ciascuno degli Oneri
                    Aggiuntivi, se applicabile, è specificamente indicato all’utente nel Carrello e nel Riepilogo
                    dell’Ordine, unitamente all’Importo Totale. Nel caso di conclusione del Contratto, esso è inoltre
                    indicato nella e-mail di conferma d’ordine.

                    9.5 Il Prezzo, la Prevendita, le Commissioni di Servizio e gli Oneri Aggiuntivi sono espressi in
                    Euro e devono considerarsi comprensivi di IVA.

                    10. Ordini di acquisto

                    10.1 Il Contratto è risolutivamente condizionato al mancato pagamento dell'Importo Totale. Nel caso
                    in cui tale pagamento non avvenga, il contratto si intenderà pertanto risolto di diritto. Di tale
                    risoluzione e della conseguente cancellazione dell’ordine, l’utente sarà immediatamente avvisato
                    subito dopo la trasmissione dell’ordine, tramite il Sito.

                    10.2 La proprietà dei Titoli di Ingresso sarà trasferita all’utente al momento della conclusione del
                    Contratto. Nel caso di consegna a domicilio e/o di ritiro presso il Luogo dell’Evento, il rischio di
                    perdita o danneggiamento dei Titoli di Ingresso, per causa non imputabile a Ticket4U sarà
                    trasferito all’utente quando l’utente o un terzo da lui designato e diverso dal vettore, entra
                    materialmente in possesso dei Titoli di Ingresso.

                    10.3 Per poter inviare un ordine relativo a un Titolo di Ingresso tramite il Sito, l’utente deve
                    leggere attentamente e approvare, mediante selezione dell’apposita casella messa a sua disposizione
                    durante il procedimento di acquisto, le presenti CGC.

                    11. Modalità di pagamento

                    Il pagamento dei Titoli di Ingresso acquistati tramite il Sito può essere effettuato mediante le
                    modalità di pagamento indicate nei paragrafi che seguono e/o quelle ulteriori eventualmente indicate
                    sul Sito stesso. Ticket4U si riserva di applicare, per motivi di sicurezza, limitazioni ed
                    esclusioni agli strumenti di pagamento utilizzabili dal Cliente per il pagamento dei Titoli di
                    Ingresso. Gli strumenti di pagamento non disponibili in relazione a uno specifico ordine e/o a uno
                    specifico Titolo di Ingresso non saranno visualizzabili e/o selezionabili dall’utente durante il
                    procedimento di acquisto. In caso di risoluzione del Contratto di Vendita e in ogni altro caso di
                    rimborso, a qualsiasi titolo, l’importo del rimborso sarà accreditato sullo stesso mezzo di
                    pagamento utilizzato dal Cliente per la transazione iniziale; nel caso in cui ciò non sia possibile,
                    il rimborso sarà effettuato mediante bonifico bancario. Ticket4U chiederà al Cliente le coordinate
                    bancarie necessarie per effettuare il rimborso.

                    11.1 Pagamento mediante carta di credito

                    11.1.1 Il pagamento dei Titoli di Ingresso acquistati sul Sito può essere effettuato mediante le
                    carte di credito dei circuiti VISA, VISA ELECTRON, MASTERCARD, AMERICAN EXPRESS, JCB, DINERS,
                    DISCOVER e POSTEPAY. Le carte di credito accettate sono indicate nella parte sinistra della home
                    page del Sito e nella fase “Pagamento” del procedimento di acquisto. L’addebito dell’Importo Totale
                    dovuto dall’utente a Ticket4U è effettuato al momento della trasmissione dell’ordine. I pagamenti
                    con carte di credito sono gestiti attraverso la capogruppo CTS EVENTIM AG & Co. KGaA, Contrescarpe
                    75 A, D-28195 Brema, Germania.

                    11.1.2 Al fine di garantire la sicurezza dei pagamenti effettuati sul Sito e di proteggere
                    dall’eventuale utilizzo fraudolento dei dati della carta di credito, è applicata la procedura
                    3D-Secure introdotta dalla direttiva europea 2366/2015 (SPD2). Più specificamente, la procedura
                    3D-Secure prevede che i dati del browser, i dati della carta di credito, i dati dell’indirizzo
                    (indirizzo di fatturazione, indirizzo e-mail), così come l’importo della transazione e la valuta,
                    siano trasferiti all’emittente della carta di credito. Tale istituto elabora i dati ricevuti per
                    determinare il rischio di frode della transazione, tenendo in considerazione l’importo e il
                    risultato del calcolo. Eventualmente, a seconda di quanto emerso, l’istituto di credito potrà
                    richiedere al titolare della carta di credito un’autenticazione della transazione di pagamento, ad
                    esempio tramite un numero di autenticazione della transazione ovvero tramite App.

                    11.1.3 Altresì, al fine di garantire la sicurezza dei pagamenti effettuati sul Sito e prevenire
                    eventuali frodi, Ticket4U si riserva il diritto di chiedere all’utente, tramite e-mail, di inviare,
                    tramite lo stesso mezzo, una copia fronte/retro della propria carta d’identità e nel caso in cui
                    l’intestatario dell’ordine sia diverso dall’intestatario della carta, della carta d’identità di
                    quest’ultimo. Il documento dovrà essere in corso di validità. Nella e-mail di richiesta sarà
                    specificato il termine entro il quale il documento deve pervenire a Ticket4U. Tale termine non
                    sarà, in ogni caso, superiore a 5 giorni lavorativi a decorrere dal ricevimento della richiesta da
                    parte dell’utente. In attesa del documento richiesto, l’ordine sarà sospeso. L’utente è tenuto
                    all’invio dei documenti richiesti nel termine indicato.

                    11.1.4 Nel caso in cui Ticket4U non riceva tali documenti nel termine specificato nella e-mail di
                    richiesta ovvero riceva documenti scaduti o non validi il contratto si intenderà risolto di diritto
                    ai sensi e per gli effetti di cui all’art. 1456 c.c., e l’ordine conseguentemente cancellato, salvo
                    il diritto di Ticket4U al risarcimento di qualunque danno in cui la stessa possa incorrere a causa
                    del comportamento non conforme dell’utente. La risoluzione del contratto, di cui l’utente sarà
                    avvisato tramite e-mail, entro e non oltre 5 giorni lavorativi dalla scadenza del termine per
                    l’invio dei documenti richiesti da Ticket4U, comporterà la cancellazione dell’ordine con
                    conseguente rimborso dell’Importo Totale, qualora corrisposto, mediante riaccredito sullo stesso
                    mezzo di pagamento utilizzato. Nel caso di tempestivo ricevimento da parte di Ticket4U della valida
                    documentazione richiesta, i termini di consegna applicabili all’ordine decorreranno dalla data di
                    ricevimento di tale documentazione.

                    11.1.5 Ticket4U utilizza un servizio di pagamento sicuro che prevede l’utilizzo del protocollo di
                    sicurezza SSL. I dati riservati della carta di credito (numero della carta, intestatario data di
                    scadenza, codice di sicurezza) sono criptati e così trasmessi al gestore dei pagamenti. Ticket4U
                    non ha quindi mai accesso e non memorizza i dati della carta di credito utilizzata dall’utente per
                    il pagamento dei Titoli di Ingresso, fatto salvo il caso, limitatamente al dato relativo
                    all’intestatario della carta, di cui agli artt. 11.1.3 e 11.1.4 che precedono.

                    12. Modalità di ritiro e consegna del Titoli di Ingresso

                    La consegna dei Titoli di Ingresso acquistati sul Sito può essere effettuata, a scelta dell’utente e
                    previo pagamento dei relativi costi, se dovuti, con le seguenti modalità: (i) consegna presso
                    l’indirizzo postale indicato nella fase “Indirizzo” del procedimento di acquisto (“Consegna a
                    Domicilio”), (ii) consegna tramite stampa immediata del Titolo di Ingresso (“Stampa@casa”) e (iii)
                    consegna tramite biglietto digitale da caricare sullo smartphone (“E-ticket”).Nel caso in cui
                    l’Organizzatore ne faccia specifica richiesta, Ticket4U potrà mettere a disposizione dell’utente
                    anche il ritiro presso il Luogo dell’Evento o altro luogo preposto dall’Organizzatore al ritiro
                    (“Luogo Preposto”) e indicato all’utente durante il procedimento di acquisto, prima della
                    conclusione del Contratto (“Ritiro presso il Luogo dell’Evento”).

                    12.1 Consegna a Domicilio

                    12.1.1 Nel caso in cui l’utente scelga la Consegna a Domicilio, i Titoli di Ingresso acquistati sul
                    Sito saranno inviati e consegnati all’indirizzo postale indicato dall’utente nella fase “Indirizzo”
                    del procedimento di acquisto.

                    12.1.2 La Consegna a Domicilio è effettuata mediante corriere espresso. I tempi e i costi della
                    Consegna a Domicilio, che variano, a seconda del paese di consegna (es: Corriere Espresso Italia,
                    Corriere Espresso Europa Occidentale e Centrale, Corriere Espresso Svizzera, USA e Canada, Corriere
                    Espresso altri paesi del mondo) e della tipologia di Titolo di Ingresso prescelta (es: Fantickets)
                    sono indicati nella sezione “Modalità di Spedizione” del Carrello. Gli specifici costi e tempi di
                    Consegna a Domicilio applicati allo specifico ordine sono inoltre indicati durante il procedimento
                    di acquisto, prima che l’utente trasmessa l’ordine, e nel caso di conclusione del Contratto,
                    nell’e-mail di conferma d’ordine. La Consegna a Domicilio sarà effettuata nei giorni lavorativi, nel
                    normale orario d’ufficio, escluso il sabato e le festività nazionali. L’obbligazione di consegna si
                    intende adempiuta mediate il trasferimento della disponibilità materiale o comunque del controllo
                    del Titolo di Ingresso al Cliente.

                    12.1.3 Al momento della spedizione sarà inviata al Cliente una e-mail di conferma dell’avvenuta
                    presa in carico da parte del vettore nella quale sarà anche contenuto il codice di
                    spedizione/tracking number cliccando sul quale il Cliente potrà verificare lo stato della
                    spedizione.

                    12.1.4 La Consegna a Domicilio è a pagamento e, salvo che non sia diversamente disposto, le spese di
                    consegna sono a carico del Cliente. L’importo delle spese di consegna dovute dall’utente in
                    relazione a uno specifico ordine è espressamente e separatamente indicato (in Euro e comprensivo di
                    IVA) durante il procedimento di acquisto, nel Carrello, nel Riepilogo dell’Ordine e, in ogni caso,
                    prima che l’utente proceda alla trasmissione dell’ordine e al pagamento.

                    12.1.5 L’utente prende atto che l’accettazione della consegna dei Titoli di Ingresso è un suo
                    preciso obbligo. In caso di mancata consegna per assenza del destinatario, il corriere lascerà un
                    avviso per documentare il tentativo di consegna (c.d. avviso di passaggio). L’avviso conterrà anche
                    i recapiti presso i quali l’utente potrà contattarlo per concordare la riconsegna ovvero effettuare
                    il ritiro dei Titoli di Ingresso. Dopo il tentativo di consegna andato a vuoto, i Titoli di Ingresso
                    andranno in giacenza presso il corriere. L’utente è tenuto a ritirarli nel termine di 5 giorni di
                    calendario decorrenti dal secondo giorno successivo a quello in cui è stato lasciato l’avviso di
                    passaggio. Nel caso in cui l’utente non ritiri i Titoli di Ingresso entro tale termine, i Titoli di
                    Ingresso saranno rispediti a Ticket4U presso cui rimarranno a disposizione del Cliente che, se lo
                    desidera, potrà richiedere a Ticket4U, contattandola ai recapiti di cui all’art. 19 che segue, una
                    nuova Consegna a Domicilio, previa corresponsione dei relativi costi. In nessun caso, la mancata
                    accettazione della consegna dei Titoli di Ingresso comporterà la risoluzione del Contratto ovvero la
                    facoltà del Cliente di richiedere il Ritiro sul Luogo dell’Evento.

                    12.1.6 Durante il procedimento di acquisto, prima che l’utente trasmetta l’ordine, saranno indicati
                    i termini entro cui Ticket4U si impegna a consegnare i Titoli di Ingresso oggetto dell’ordine
                    dell’utente. I termini di consegna decorrono dalla data di conclusione del Contratto (i.e. l’invio
                    dell’ordine), salvo che non sia diversamente indicato. Il termine di consegna dello specifico ordine
                    sarà inoltre indicato nella conferma d’ordine. Nel caso di omessa indicazione del termine di
                    consegna, essa avverrà, in ogni caso, entro trenta giorni a decorrere dalla data di conclusione del
                    Contratto.

                    12.1.7 Nel caso in cui i Titoli di Ingresso acquistati non siano consegnati o siano consegnati in
                    ritardo rispetto ai termini di consegna indicati durante il procedimento di acquisto e nella
                    conferma d’ordine, il Cliente può segnalare il problema a Ticket4U, contattandola ai recapiti di
                    cui all’art. 19 che segue. Ticket4U darà riscontro alla segnalazione nel termine di 5 giorni
                    lavorativi dal ricevimento della stessa. Il Cliente, inoltre, ai sensi dell’art. 61 del Codice del
                    Consumo, può invitare Ticket4U a effettuare la consegna entro un termine supplementare appropriato
                    alle circostanze ("Termine Supplementare ex art. 61, III comma, Codice del Consumo"). Laddove tale
                    termine supplementare scada senza che i Titoli di Ingresso gli siano stati consegnati, l’utente è
                    legittimato a risolvere il contratto ("Risoluzione del Contratto ex art. 61, III comma, Codice del
                    Consumo"), salvo il diritto al risarcimento del danno. Il Cliente non è gravato dell’onere di
                    concedere a Ticket4U il Termine Supplementare ex art. 61, III comma, Codice del Consumo ("Casi
                    Esclusi") se:

                    a) Ticket4U si è espressamente rifiutata di consegnare i Titoli di Ingresso;

                    b) il rispetto del termine di consegna indicato durante il procedimento di acquisto e nella conferma
                    d'ordine deve considerarsi essenziale, tenuto conto di tutte le circostanze che hanno accompagnato
                    la conclusione del contratto;

                    c) l'utente ha informato Ticket4U, prima della conclusione del contratto, che la consegna entro o a
                    una data determinata è essenziale.

                    Nei Casi Esclusi, il Cliente, se non riceve i Titoli di Ingresso nel termine di consegna indicato
                    durante il procedimento di acquisto e nella conferma d'ordine, è legittimato a risolvere
                    immediatamente il contratto, salvo il diritto al risarcimento del danno ("Risoluzione del Contratto
                    nei Casi Esclusi"). L’indicazione del Termine Supplementare ex art. 61, III comma, Codice del
                    Consumo e la comunicazione di Risoluzione del Contratto ex art. 61, III comma, Codice del Consumo o
                    di Risoluzione del Contratto nei Casi Esclusi dovrà essere comunicata dal Cliente a Ticket4U agli
                    indirizzi di cui all'art. 19 che segue.

                    Nel caso di Risoluzione del Contratto ex art. 61, III comma, Codice del Consumo o di Risoluzione nei
                    Casi Esclusi, Ticket4U rimborserà all’utente l’Importo Totale senza indebito ritardo e, comunque,
                    non oltre il termine di 15 giorni lavorativi dal giorno della risoluzione del Contratto, con le
                    modalità indicate nell’art. 11 che precede.

                    12.1.8 Spetta all’utente verificare le condizioni del Titolo di Ingresso che gli è stato consegnato.
                    Fermo restando che il rischio di perdita o danneggiamento dei Titoli di Ingresso, per causa non
                    imputabile a Ticket4U, è trasferito al Cliente quando il Cliente, o un terzo dallo stesso designato
                    e diverso dal vettore, entra materialmente in possesso dei Titoli di Ingresso, si raccomanda al
                    Cliente di verificare che i Titoli di Ingresso ricevuti si riferiscano all’Evento per il quali il
                    Cliente li ha acquistati nonché la correttezza della data, della categoria, della tipologia di posti
                    e del numero dei Titoli di Ingresso ricevuti. Nel caso di mancata corrispondenza tra i Titoli di
                    Ingresso ricevuti e quelli acquistati il Cliente può contattare Ticket4U ai recapiti di cui
                    all’art. 19 che segue. Ticket4U darà riscontro alla richiesta nel termine di cui all’art. 14 che
                    segue.

                    12.1.9 Si invia altresì il Cliente a verificare che la confezione in cui sono contenuti i Titoli di
                    Ingresso risulti integra, non danneggiata, né bagnata o comunque alterata, e lo si invita, nel suo
                    interesse, a indicare sul documento di trasporto del vettore, eventuali anomalie, se presenti,
                    accettando la confezione con riserva. Il ricevimento senza riserve dei Titoli di Ingresso, infatti,
                    non consente al Cliente di agire in giudizio nei confronti del corriere, nel caso di perdita o
                    danneggiamento dei Titoli di Ingresso, tranne nel caso in cui la perdita o il danneggiamento siano
                    dovuti a dolo o colpa grave del corriere stesso e fatta eccezione per la perdita parziale o il
                    danneggiamento non riconoscibili al momento della consegna, purché in quest’ultimo caso, il danno
                    sia denunciato appena conosciuto e non oltre otto giorni dopo il ricevimento. Nel caso in cui la
                    confezione presenti evidenti segni di manomissione o alterazione, si raccomanda al Cliente, inoltre,
                    di darne pronta comunicazione a Ticket4U, contattandola ai recapiti di cui all’art. 19 che segue,
                    fermo quanto disposto all’art. 14 che segue.

                    12.2 Consegna mediante Stampa@casa

                    12.2.1 Nel caso in cui l’utente scelga la consegna mediante Stampa@casa, può stampare immediatamente
                    i Titoli di Ingresso acquistati con l’ausilio di una normale stampante, in bianco e nero o a colori.
                    Nel caso in cui l’utente, ove disponibile, voglia avvalersi di tale modalità di consegna, dovrà
                    adottare per la stampa dei Titoli di Ingresso tutte le specifiche tecniche indicate sul Sito, e, in
                    particolare, nell’area “Servizio Stampa@casa”, accessibile dal footer del Sito tramite il link
                    “Domande Frequenti”. Si ricorda all’utente che, in ogni caso, per poter usufruire della modalità di
                    consegna “Stampa@casa”, deve servirsi di un PC su cui sia installato ed aggiornato il programma
                    “Adobe Acrobat Reader” alla versione 7.0.8 o superiore e su cui siano state disinstallate eventuali
                    versioni precedenti dello stesso programma.

                    12.2.2 La scelta della modalità di consegna “Stampa@casa” potrà eventualmente comportare l’addebito
                    all’utente di una commissione di servizio il cui importo è indicato nella sezione “Modalità di
                    Spedizione” del Carrello, nonché nel Riepilogo dell’Ordine. Essa non dà diritto all’emissione dei
                    c.d. fantickets.

                    12.2.3 Il Cliente che, ove disponibile, abbia scelto come modalità di consegna “Stampa@casa” può
                    procedere alla stampa dei Titoli di Ingresso subito dopo l’acquisto degli stessi ovvero
                    successivamente, accedendo, con le proprie credenziali, al proprio account “My Ticket4U” e
                    cliccando su “Visualizza la storia ordini”.

                    12.2.4 Il sistema di controllo accessi autorizzerà l’ingresso di 1 solo Titolo di Ingresso
                    equivalente ad 1 unico codice a barre. Eventuali fotocopie e/o frodi derivanti da un utilizzo
                    improprio dello stesso saranno perseguibili a norma di legge e non imputabili a Ticket4U né
                    all’Organizzatore. L’Organizzatore non consentirà in nessun caso l’accesso di eventuali Titoli di
                    Ingresso duplicati.

                    12.3 Consegna mediante E-ticket

                    12.3.1 Nel caso in cui l’utente scelga la consegna mediante E-ticket, può caricare il biglietto
                    digitale sul proprio smartphone senza necessità di effettuare alcuna stampa dello stesso.

                    12.3.2 La scelta della modalità di consegna “E-ticket” potrà comportare l’addebito all’utente di una
                    commissione di servizio il cui importo è indicato nella sezione “Modalità di Spedizione” del
                    Carrello nonché nel Riepilogo dell’Ordine. Essa non dà diritto alla emissione dei c.d. fantickets.

                    12.3.3 Il Cliente che, ove disponibile, abbia scelto come modalità di consegna l’E-ticket può
                    accedere ai Titoli di Ingresso subito dopo l’acquisto degli stessi ovvero successivamente,
                    accedendo, con le proprie credenziali, al proprio account “My Ticket4U” e cliccando su “Visualizza
                    la storia ordini”.

                    12.3.4 Il sistema di controllo accessi autorizzerà l’ingresso di 1 solo Titolo di Ingresso
                    equivalente ad 1 unico codice a barre. Eventuali copie e/o frodi derivanti da un utilizzo improprio
                    dello stesso saranno perseguibili a norma di legge e non imputabili a Ticket4U né
                    all'Organizzatore. L'Organizzatore non consentirà in nessun caso l'accesso di eventuali Titoli di
                    Ingresso duplicati.

                    12.4 Ritiro sul Luogo dell’Evento

                    12.4.1 Nel caso in cui l’Organizzatore ne faccia specifica richiesta Ticket4U potrà mettere a
                    disposizione dell’utente anche il Ritiro sul Luogo dell’Evento. In tale caso, il Cliente potrà
                    ritirare i Titoli di Ingresso presso il Luogo dell’Evento o il Luogo Preposto, unicamente nel giorno
                    di svolgimento dell’Evento e unicamente a partire da almeno un’ora prima dell’inizio dell’Evento,
                    salva diversa indicazione fornita all’utente durante il procedimento di acquisto, prima della
                    conclusione del Contratto. La scelta come modalità di consegna del Ritiro sul Luogo dell’Evento non
                    comporta l’addebito di alcun costo per il Cliente. Essa non dà diritto alla emissione dei c.d.
                    fantickets. Per ritirare i Titoli di Ingresso il Cliente dovrà esibire l’e-mail di conferma
                    d’ordine.

                    13. Esclusione del diritto di recesso dal Contratto

                    13.1 Ticket4U informa il Cliente che, avendo il Contratto ad oggetto la fornitura di servizi
                    relativi al tempo libero che l’Organizzatore si impegna a prestare in una data specifica, al
                    Contratto, ai sensi dell’art. 59, I comma, lett. n) del Codice del Consumo, non si applica il
                    diritto di recesso previsto dall’art. 52 del Codice del Consumo. Il Cliente non potrà quindi
                    esercitare tale diritto in relazione all’acquisto dei Titoli di Ingresso.

                    14. Difformità dei Titoli di Ingresso ricevuti rispetto a quelli acquistati

                    14.1 Fermo restando quanto previsto negli articoli che precedono, in tutti i casi di difformità dei
                    Titoli di Ingresso rispetto a quelli acquistati, il Cliente potrà contattare Ticket4U ai recapiti
                    di cui all’art. 19 che segue. Ticket4U darà riscontro alla richiesta al più tardi entro 15 giorni
                    lavorativi dal ricevimento della stessa e, in ogni caso, in tempo utile per consentire al Cliente la
                    partecipazione all’Evento.

                    15. Titoli di Ingresso ed Eventi

                    15.1 Tutti i Portatori di Titoli di Ingresso devono essere muniti di un valido Titolo di Ingresso
                    per accedere al Luogo dell’Evento. Ad essi si applicano le previsioni di cui alle presenti CGC e
                    tutte le altre previsioni applicabili al Cliente nonché le previsioni applicabili all’Evento.

                    15.2 Il Titolo di Ingresso costituisce titolo di accesso esclusivamente per l’Evento per il quale è
                    stato emesso, nel giorno e nell’ora ivi indicati. L’Organizzatore ha la facoltà di rifiutare
                    l’accesso al Luogo dell’Evento per irregolarità del Titolo di Ingresso e di effettuare controlli
                    sulla persona per motivi di sicurezza. Nel caso in cui risulti che il Titolo di Ingresso sia stato
                    rubato, duplicato o ottenuto in contrasto con le presenti CGC e/o con la legge, il Portatore del
                    Titolo di Ingresso potrà non essere autorizzato dall’Organizzatore ad accedere al Luogo dell’Evento
                    ovvero potrà essere obbligato ad abbandonarlo. I Titoli di Ingresso emessi non sono ristampabili.
                    Nel caso in cui il Titolo di Ingresso sia stato perduto, allo stesso modo, non sarà consentito
                    l’accesso al Luogo dell’Evento. In ogni caso, Ticket4U non sostituirà il Titolo di Ingresso
                    nell’eventualità in cui esso risulti smarrito, perduto, deteriorato, danneggiato o distrutto ovvero
                    se il Titolo di Ingresso sia stato rubato o risulti anche parzialmente illeggibile in quanto
                    presentato dal Cliente non perfettamente integro.

                    15.3 Ticket4U potrà in ogni momento annullare, su richiesta dell’Organizzatore e/o delle autorità
                    preposte alla tutela dell’ordine e della sicurezza pubblica, per motivi tecnici e/o organizzativi
                    diversi da quelli di cui all’art. 16 che segue e, quindi, nell’ambito di un Evento che non sia
                    annullato, un Titolo di Ingresso già emesso o un ordine di acquisto relativo a un Titolo di Ingresso
                    già effettuato. In tal caso, il Cliente avrà diritto al rimborso dell’Importo Totale pagato,
                    compresa la Prevendita, le Commissioni di Servizio e gli Oneri Aggiuntivi, ma escluse le spese di
                    Consegna a Domicilio, se la spedizione del Titolo di Ingresso è già avvenuta al momento
                    dell’annullamento dell’ordine e/o del Titolo di Ingresso.

                    16. Evento rinviato o annullato

                    16.1 Ticket4U, quale mera fornitrice dei Servizi Ticket4U, nonché soggetto che agisce in nome e
                    per conto dell’Organizzatore in relazione alla vendita dei Titoli di Ingresso, non è, in alcun caso,
                    responsabile dell’eventuale rinvio o annullamento dell’Evento da parte dell’Organizzatore. Nel caso
                    di rinvio o annullamento dell’Evento da parte dell’Organizzatore, Ticket4U comunicherà al Cliente,
                    in nome e per conto dell’Organizzatore, le iniziative adottate dall’Organizzatore in relazione al
                    rimborso o alla sostituzione dei Titoli di Ingresso relativi all’Evento rinviato o annullato. Si
                    ricorda al Cliente che l’Organizzatore, in caso di annullamento dell’Evento, si riserva il diritto
                    di trattenere la Prevendita e che, anche in questo caso, Ticket4U è del tutto estranea alle
                    decisioni dell’Organizzatore. Fermo rimanendo che sarà di esclusiva responsabilità
                    dell’Organizzatore la scelta in merito all’eventuale rimborso della Prevendita, il Cliente prende
                    atto, anche ai fini della consapevolezza della propria decisione di acquisto, che i diritti di
                    prevendita eventualmente trattenuti dall’Organizzatore non eccederanno il 13% del prezzo complessivo
                    del Titolo di Ingresso.

                    16.2 Fermo quanto previsto al precedente punto 16.1, in caso di annullamento o di rinvio dell’Evento
                    da parte dell’Organizzatore, in nessun caso, il Cliente potrà chiedere a Ticket4U il rimborso delle
                    Commissioni di Servizio e/o delle spese di Consegna a Domicilio o di Consegna mediante Stampa@casa o
                    di Consegna mediante E-Ticket e/o del costo della confezione regalo e/o dell’eventuale premio della
                    copertura assicurativa, qualora sostenute, essendo tali importi remunerativi della già avvenuta
                    fornitura da parte di Ticket4U dei Servizi Ticket4U e indipendenti dalla successiva fornitura da
                    parte dell’Organizzatore della prestazione relativa all’Evento.

                    16.3 Nel caso di annullamento dell’Evento, Ticket4U provvederà alla effettuazione del rimborso al
                    Cliente, secondo le modalità e con la tempistica decise dell’Organizzatore, solo nel caso in cui
                    Ticket4U sia stata appositamente delegata a tale rimborso e nella misura in cui abbia ricevuto da
                    quest’ultimo la necessaria provvista.

                    16.4 In particolare, laddove l’Organizzatore deleghi Ticket4U a procedere alle operazioni di
                    rimborso, essa provvederà a fornire sui propri canali online le informazioni inerenti alla procedura
                    volta alla formulazione dell’istanza di rimborso; essa detterà l’unica modalità di presentazione
                    della richiesta. Affinché l’istanza sia accolta e il rimborso sia erogato, la procedura indicata,
                    che si sostanzierà nella presentazione della richiesta su apposita piattaforma online, dovrà essere
                    eseguita correttamente dai consumatori entro le tempistiche individuate dall’Organizzatore.

                    16.5 Al fine di poter erogare i rimborsi dei Titoli di Ingresso Non Digitali si segnala che, in
                    ottemperanza alla normativa fiscale vigente nel nostro ordinamento, è necessario che gli stessi
                    siano riconsegnati a Ticket4U a mezzo raccomandata con ricevuta di ritorno da inviarsi
                    all’indirizzo via Fabio Filzi 29, Milano, 20124, o secondo altra modalità indicata sul Sito prevista
                    con riferimento allo specifico Evento per i cui Titoli di Ingresso si richiede il rimborso. Laddove
                    il consumatore non provveda a tale adempimento, il rimborso non potrà essere allo stesso erogato.

                    16.6 Il rimborso verrà effettuato mediante riaccredito sulla carta di credito o su altro metodo di
                    pagamento utilizzato dal Cliente in fase di acquisto, in caso di acquisto effettuato sul Sito,
                    ovvero mediante bonifico bancario effettuato sul conto corrente indicato dal consumatore in caso di
                    acquisto presso i Punti Vendita. Il rimborso è eseguito al netto delle Commissioni di Servizio e/o
                    delle spese di Consegna a Domicilio o di Consegna mediante Stampa@casa o di Consegna mediante
                    E-ticket e/o della confezione regalo e/o dell’eventuale premio della copertura assicurativa, come
                    specificato al punto 16.2. Tale operazione sarà visibile indicativamente a partire dal mese
                    successivo dal compimento dell’operazione di rimborso. In ogni caso di annullamento e/o rinvio
                    dell’Evento, il Cliente potrà comunque rivolgersi all’Organizzatore, per far valere nei confronti
                    dello stesso tutti i suoi diritti.

                    16.7 I Titoli di Ingresso relativi agli Eventi annullati non potranno essere permutati con titoli di
                    ingresso relativi ad altri Eventi.

                    16.8 Laddove l’Evento sia costituito da un Festival, l’elencazione sul sito Internet di Ticket4U
                    dei nominativi degli artisti partecipanti deve comunque considerarsi effettuata a titolo indicativo,
                    e pertanto laddove uno o più artisti previsti come partecipanti non intervenga all’Evento o sia
                    sostituito, tale mancata partecipazione o sostituzione in nessun caso potrà essere considerata come
                    cancellazione dell’Evento, salvo che lo stesso Evento sia cancellato dall’Organizzatore nel suo
                    complesso.

                    17. Limitazioni di responsabilità e diritti di Ticket4U

                    17.1 Salvo il caso di dolo o colpa grave, Ticket4U non potrà essere ritenuta responsabile per le
                    spese e per i danni, diretti e indiretti, di qualsiasi natura, sofferti dal Cliente in relazione
                    alla vendita di Titoli di Ingresso.

                    17.2 Ticket4U si riserva il diritto di ritirare, modificare, sospendere o interrompere qualsivoglia
                    funzione o servizio dalla stessa reso in relazione alla vendita dei Titoli di Ingresso, ove ciò sia
                    reso necessario od opportuno per ragioni tecniche e/o organizzative, fermo restando l’adempimento
                    del Contratto eventualmente già concluso.

                    18. Divieti

                    18.1 I Titoli di Ingresso non possono essere rivenduti a titolo oneroso nell’ambito dello
                    svolgimento professionale di attività commerciale ancorché non organizzata sotto forma di impresa
                    senza il consenso espresso dell’Organizzatore e comunque nel caso in cui l’Organizzatore ne vieti
                    specificamente il trasferimento di titolarità in base a principi di nominatività.

                    18.2 I Titoli di Ingresso, inoltre, non possono costituire il premio di manifestazioni a premio,
                    rientranti o non rientranti nell’ambito di applicazione del DPR 430/2001 né di altre iniziative
                    premiali o promozionali (quali, a titolo esemplificativo, competizioni o lotterie), salvo il caso di
                    preventiva autorizzazione scritta rilasciata dall’Organizzatore o da Ticket4U, se a ciò autorizzata
                    dall’Organizzatore. Il Cliente dichiara che non utilizzerà i Titoli di Ingresso in violazione della
                    presente disposizione e si obbliga a tenere Ticket4U indenne e manlevata da qualsiasi danno che
                    alla stessa possa derivare dalla violazione della presente garanzia.

                    19. Assistenza e Reclami

                    19.1 È possibile chiedere informazioni, inviare comunicazioni o inoltrare reclami contattando il
                    servizio clienti di Ticket4U:

                    - attraverso il sito, accedendo alla seguente sezione: https://www.Ticket4U.it/help ;

                    - ovvero ai recapiti indicati, oltre che nell’art. 2 delle presenti CGV, nelle sezioni “Chi siamo”,
                    “Contatti” e “Servizio Clienti” del Sito.

                    19.2 Ticket4U risponderà ai reclami tramite e-mail e/o telefono nel termine di ci all’art. 14 che
                    precede.

                    20. Legge Applicabile e Foro Competente

                    20.1 Il Contratto è soggetto alla legge italiana. È fatta salva l’applicazione agli utenti
                    Consumatori che non abbiano la loro residenza abituale in Italia delle disposizioni eventualmente
                    più favorevoli e inderogabili previste dalla legge del paese in cui essi hanno la loro residenza
                    abituale.

                    20.2 Si ricorda che nel caso di utente Consumatore per ogni controversia relativa all‘applicazione,
                    esecuzione e interpretazione delle presenti CGC o del Contratto è competente il foro del luogo in
                    cui l’utente risiede o ha eletto domicilio.

                    21. Risoluzione alternativa delle controversie (c.d. Alternative Dispute Resolution/On Line Dispute
                    Resolution) e Conciliazione Paritetica Netcomm

                    21.1 Ai sensi dell’art. 141-sexies, III comma, Codice del Consumo, Ticket4U informa l’utente
                    Consumatore che, nel caso in cui egli abbia presentato un reclamo a Ticket4U, a seguito del quale,
                    tuttavia, non sia stato possibile risolvere la controversia insorta, Ticket4U gli fornirà le
                    informazioni in merito all’organismo o agli organismi di Alternative Dispute Resolution per la
                    risoluzione extragiudiziale delle controversie relative ad obbligazioni derivanti da un contratto
                    concluso in base alle presenti CGC (cc.dd. Organismi ADR, come indicati agli artt. 141-bis e ss. del
                    Codice del Consumo), precisando se intenda avvalersi o meno di tali organismi per risolvere la
                    controversia stessa.

                    21.2 Ticket4U informa inoltre l’utente Consumatore che è stata istituita una piattaforma europea
                    per la risoluzione on line delle controversie dei consumatori (c.d. piattaforma ODR). La piattaforma
                    ODR è accessibile al seguente indirizzo http://ec.europa.eu/consumers/odr/ . Attraverso la
                    piattaforma ODR il Consumatore potrà consultare l’elenco degli organismi ADR, trovare il link al
                    sito di ciascuno di essi e avviare una procedura di risoluzione on line della controversia in cui
                    sia coinvolto.

                    21.3 Ticket4U informa infine l’utente Consumatore che, se egli ha presentato a Ticket4U un
                    reclamo, ma non è stato soddisfatto dell’esito dello stesso o non ha ricevuto un riscontro nel
                    termine di cui all’art. 19.2 che precede o, comunque, entro 30 giorni, può avviare la procedura di
                    conciliazione paritetica istituita dal Consorzio Netcomm e dalle Associazioni dei Consumatori, cui
                    Ticket4U aderisce. L’utente può trovare maggiori informazioni su questa procedura nonché il link al
                    relativo regolamento all’indirizzo
                    http://www.consorzionetcomm.it/Spazio_Consumatori/Conciliazione-Paritetica/Conciliazione-Paritetica.kl
                    . L’utente Consumatore può trasmettere la domanda di partecipazione alla conciliazione paritetica
                    Netcomm esclusivamente a mezzo fax, al numero 02/87181126 o, per e-mail, all’indirizzo
                    conciliazione@consorzionetcomm.it.

                    21.4 L’utente che risiede in uno stato membro dell’Unione Europea diverso dall’Italia, può, inoltre,
                    accedere, per ogni controversia relativa all’applicazione, esecuzione e interpretazione delle
                    presenti CGC, al procedimento europeo istituito per le controversie di modesta entità, dal
                    Regolamento (CE) n. 861/2007 del Consiglio, dell’11 luglio 2007, a condizione che il valore della
                    controversia non ecceda, esclusi gli interessi, i diritti e le spese, Euro 2.000,00. Il testo del
                    regolamento è reperibile sul sito www.eur-lex.europa.eu

                    21.5 Sono fatti salvi in ogni caso i diritti degli utenti Consumatori di adire il giudice ordinario
                    competente per la controversia derivante dalle presenti CGC o dal Contratto, qualunque sia l’esito
                    della procedura di composizione stragiudiziale nonché la possibilità, ove ne ricorrano i
                    presupposti, di promuovere una risoluzione extragiudiziale delle controversie relative ai rapporti
                    di consumo mediante il ricorso alle procedure di cui alla Parte V, Titolo II-bis del Codice del
                    Consumo.

                    22. Disposizioni inerenti al periodo di emergenza epidemiologica da Covid-19

                    22.1 Durante la vigenza dell’emergenza epidemiologica da Covid-19, Ticket4U adegua i propri
                    processi di acquisto, di accesso ai luoghi degli eventi e di rimborso, che dunque potrebbero subire
                    limitazioni e vincoli, seguendo sia la dinamica normativa pro tempore vigente adottata dal
                    Governo/Legislatore per fronteggiarla, sia le decisioni assunte dagli Organizzatori sulla base della
                    stessa. Di tali continui adeguamenti Ticket4U informa i consumatori mediante informative pubblicate
                    sul Sito nelle apposite sezioni, nonché alla pagina di vendita del singolo evento di volta in volta
                    coinvolto.

                    22.2 Laddove un evento programmato non dovesse tenersi in ragione delle disposizioni normative
                    adottate dal Governo/Legislatore per fronteggiare l’emergenza epidemiologica da Covid-19,
                    l’Organizzatore dello stesso, ai sensi dell’art. 88 del Decreto Legge n. 18 del 17 marzo 2020
                    (‘Decreto Cura Italia’), come successivamente modificato, potrà scegliere, a seconda dei casi, di
                    rimborsare i Titoli di Ingresso acquistati per l’evento non tenuto mediante voucher, provvedendo
                    autonomamente alle operazioni di rimborso ovvero per il tramite di canali di vendita delegando,
                    dunque, Ticket4U al compimento delle stesse. Si evidenzia, pertanto, che Ticket4U è un mero
                    soggetto delegato, non il soggetto debitore del rimborso individuabile esclusivamente nel soggetto
                    Organizzatore dell’evento per il quale si chiede il rimborso.

                    Per consultare le due precedenti versioni dei nostri Termini e condizioni d'acquisto accedi al
                    seguente link:
                    Termini e condizioni - Versione Luglio 2016

                    Termini e condizioni - Versione Giugno 2014
                </p>
            </div>
        </div>
    </section>
    <footer>
        <div class="one_quarter">
            <div style="text-align:center">
                <p class="nospace btmspace-15" style="color: white; width=58;">
                    Ticket4U | Biglietti per Concerti, Spettacolo, Sport e Cultura</p>
            </div> <br>
        </div>
        <div class="footer">
            <div>
                <ul>
                    <li class="title">Ticket4U</li>
                    <li><a href="/termini" style="text-decoration: none; color:white;">Termini e condizioni di acquisto</a></li>
                    <li><a href="/privacy" style="text-decoration: none; color:white;">Privacy</a></li>
                </ul>
            </div>

            <div>
                <ul>
                    <li class="title">Società</li>
                    <li><a href="/chisiamo" style="text-decoration: none; color:white;">Chi siamo</a></li>
                    <li><a href="/dovesiamo" style="text-decoration: none; color:white;">Dove Siamo</a></li>
                </ul>
            </div>

            <div>
                <ul>
                    <li class="title">Contatti</li>
                    <li>ticket4U@gmail.com</li>
                    <li>03331238123</li>
                </ul>
            </div>
        </div>

    </footer>
</body>


</html>